{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<div class="login-register-form">
  <form action="/login" method="post">
    <h1>Log In</h1>
    <label for="username">Username:</label>
    <input
      autofocus
      autocomplete="off"
      placeholder="Username"
      name="username"
      id="username"
      type="text"
    />
    <label for="password">Password:</label>
    <input
      autocomplete="off"
      placeholder="Password"
      name="password"
      id="password"
      type="password"
    />
    <button type="submit">Log in</button>
    <p>Not a member? <a href="/register">Register</a> here!</p>
  </form>
</div>
{% endblock %}
